*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Edu SA Hand', sans-serif;
    font-size: 32px;
}
:root{
    --primary-color:white;
    --secondary-color: black;
    --text-color: #a46236;
    --margin:32px;
    --padding:0;
    --font-family: 'Edu SA Hand', sans-serif;
}
body{
    
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-family);
    margin: var(--margin);
    padding: var(--padding);
}
header{
    padding: var(--padding);
    margin: var(--margin);
}
h1{
    color:var(--text-color);
    text-align: center;
    font-size: 48px;

}
h2{
    color: var(--text-color);
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--secondary-color);
    
}
.container {
    /* Styles for the container */
    width: 80%; /* You can adjust the width as needed */
    margin: 0 auto 32px auto; /* Centers the container horizontally */
    padding: 20px; /* Adds inner space to the container */
    background-color: var(--primary-color); /* Example background */
    border: 1px solid black;
    border-radius: 10px; /* Rounds the corners of the container */
}
p{
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    margin: 20px;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px; /* Adjust the width as needed */
    height: auto; /* Maintains aspect ratio */
    border: 1px solid var(--secondary-color);
    border-radius: 500px;
}